/// None of these have defaults in core and should do (!default).
// Site Layout
$columns: 12;
$grid-gutter-width: 2em;

// Paddings
$base-padding: 1em;

// Ratios
$width: 16;
$height: 9;

// SVG
$base-image-path: '/_res/media/images/svg';

// Body
$text-color: #333;
$base-font-size: 1em;
$base-font-family: 'arial';
$base-font-weight: normal;
$base-lineheight: 1.6;

// Typeography
$heading-font-family: $base-font-family;
$heading-font-weight: 700;
$quiet-color: #888;
$loud-color: #FFF;

// Fixed Type
$fixed-font-family: $base-font-family;
$fixed-font-size: $base-font-size;
$fixed-line-height: $base-lineheight;

// Colours
$pre-background: #333;
$pre-colour: #fff;
$pre-spacer: #aaa;
$pre-border: #333;