.content img {
	@extend .responsive-image;
}

// https://wdexplorer.com/20-examples-beautiful-css-typography-design/
// Fonts are fixed px, this will need to be resolved if you want nicer scaling on handhelds (use ems, or rems).
// Element, font size, font family, visited colour, hover colour
@include styleheading("h1", 38px, "Georgia, arial, serif", #605833, #92864d);
@include styleheading("h2", 32px, "Georgia, arial, serif", #605833, #92864d);
@include styleheading("h3", 26px, "Georgia, arial, serif", #605833, #92864d);

a,
a:visited { 
	font-family: Enriqueta; 
	font-size: 16px; 
	color: #92864d; 
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}

p { 
	color: #605833;
	font-family: Enriqueta; 
	@include font-size(16px);
	padding: 10px 0;
}

.post-info {
	border-top: 1px dashed #70673b;
	border-bottom: 1px dashed #70673b;
	@include font-size(13px);
	margin: 15px 0 15px;
	padding: 3px;
	text-transform: uppercase;
	color: #bfb585;
}

a.read-more {
	background-color: #605833;
	border-radius: 5px 5px 5px 5px;
	color: white; float: right;
	font-family: Enriqueta,Arial,sans-serif;
	text-transform: uppercase;
	@include font-size(16px);
	padding: 3px 10px;
}

a.read-more:hover {
	background-color: #92864d;
	border-radius: 5px 5px 5px 5px;
	text-decoration: none;
}

button {
	@extend .btn-default;
}

footer {
	padding: $base-padding 0;
}