// Note that these grids have NOT been made mobile-first. This will need to change.
// !default will set a default variable if one isn't specified already.
@import "grid/meyers-reset";
@import "grid/breakpoints";

@mixin col($col, $sum, $gap: $grid-gutter-width, $align: top, $first: false, $last: false) {
  // width: percentage($col/$sum);
  font-size: 16px;
  // display: inline-block;
  float: left;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap / 2);
  padding-right: if($last, 0, $gap / 2);
  // Break points (enhance later)
  // @media only screen and (min-width: 768px) {
  //   width: percentage($col/$sum);
  //   vertical-align: $align;
  // }

  @include respond-to(small) { width: 100%; }
  @include respond-to(medium) { width: percentage($col/$sum); }
  // @include respond-to(large) { width: 100%; }

}

@mixin row($gap: $grid-gutter-width) {
  margin-left:  ($gap / -2);
  margin-right: ($gap / -2);
  @extend %clearfix;
}

@for $i from 1 through $columns
{
  .c#{$i} {
    @include col($i, $columns);
  }

  @if $i == 1 {
    .c-first {
      padding-left: 0;
    }
  }

  @if $i == $columns {
    .c-last {
      padding-right: 0;
    }
  }

}

.container-fluid
{
  @include col($columns, $columns);
}

.row
{
  @include row();
}