.btn-default {
    background: #FFF;
    color: gray;
    font: bold 11px "Helvetica";
    padding: 8px;
    text-decoration: none;
    outline: 0;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default:after {
    background: gray;
    color: #FFF;
    content: ">";
    display: inline-block;
    font: bold 11px "Georgia";
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    text-align: center;
    width: 25px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn-default:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}