code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: $pre-colour;
	background: $pre-background;
	border: 1px solid $pre-border;
	border-radius: 2px;
	padding: 2px;
	}
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid $pre-spacer;
	margin: 1.7em 0 1.7em 0.3em;
	border-radius: 2px;
	overflow: auto;
	//width: 93%;
	color: $pre-colour;
	background: $pre-background;
	}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
* html pre { 
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}