// Just targets all types for now
.responsive-image {

  width: 100%;
  height: auto;
  margin-right: $base-padding;
  margin-bottom: $base-padding;

  // @include respond-to(small) { 
  // 	width: 100%;
  // }

  @include respond-to(medium) {
  	width: percentage(500/992);
  	float: left;
  }
  
  @include respond-to(large) {
  	width: percentage(500/1200);
  }

}