/* File Paths */
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin svg-background($name, $extension, $svg: true) {
    @if($svg) {
        background-image: url(#{$base-image-path}/#{$name}.svg);

        .no-svg {
            background-image: url(#{$base-image-path}/#{$name}.#{$extension});

            @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
                background-image: url(#{$base-image-path}/#{$name}#{$retina-suffix}.#{$extension});
            }
        }
    }
    @else {
        background-image: url(#{$base-image-path}/#{$name}.#{$extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url(#{$base-image-path}/#{$name}#{$retina-suffix}.#{$extension});
        }
    }
}

// body {
//   @include background-image('pattern');
// }