@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// p {
//   @include font-size(14px)
// }

@mixin styleheading($heading, $font-size, $font-family, $visit-colour, $hover-colour)
{

	#{$heading} {
		font-family: $font-family;
		@include font-size($font-size);
		a, a:visited {
			color: $visit-colour;
			text-decoration: none;
		}
		a:hover {
			color: $hover-colour;
		}

	}

}

// http://thesassway.com/advanced/modular-css-typography
.typography {

	// Settings
	.h1, .h2, .h3, .h4, .h5, .h6 {
		// font-family: $heading-font-family;
		font-weight: $heading-font-weight;
	}

	.h1, .h2 { line-height: 1.1; }
	.h3, .h4 { line-height: 1.3; }

	.quiet { font-color: $quiet-color; }
	.loud  { font-color: $loud-color; }

	.italic { font-style: italic; }
	.bold   { font-weight: 700; @extend .loud; }

	.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

	.block-margins { margin: 1em 0; }
	.block-margins-list { margin: 1em 1.2em; }

	.unordered-list { list-style-type: disc; @extend .block-margins-list; }
	.ordered-list { list-style: decimal; @extend .block-margins-list; }

	// Assignment
	i, em { @extend .italic; }
	b, strong { @extend .bold; }

	h1, .h1 { @extend .h1; margin: 1em 0 0.5em; }
	h2, .h2 { @extend .h2; margin: 1em 0 0.5em; }
	h3, .h3 { @extend .h3; margin: 1em 0 0.5em; }
	h4, .h4 { @extend .h4; margin: 1em 0 0.5em; }
	h5, .h5 { @extend .h5; margin: 1em 0 0.5em; }
	h6, .h6 { @extend .h6; margin: 1em 0 0.5em; }

	p, pre, ul, ol { @extend .block-margins; }

	// ul { @extend .unordered-list; }
	// ol { @extend .ordered-list; }

	pre, code { @extend .fixed; }

}